body {
  background: #e1e1e1;
}
.navbar {
    a{
      margin-left: 1rem;
      text-decoration: none;
    }
    .new_post {
      margin-right: 12rem;
      text-decoration: none;
      color:white;
      font-size: 4vh;
    }
}

.wrap_page {
  margin-top: 100px;

}


